* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(https://media.discordapp.net/attachments/1012011940219986001/1097579733765603338/202302.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}


/* Animation */
@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: orange;
  }
}

.rainbow-text {
  font-size: 36px;
  font-weight: bold;
  animation: rainbow 10s linear infinite;
}

@keyframes rainbow {
  0% {
    color: #f00;
  }
  10% {
    color: #ff0;
  }
  20% {
    color: #0f0;
  }
  30% {
    color: #0ff;
  }
  40% {
    color: #00f;
  }
  50% {
    color: #f0f;
  }
  60% {
    color: #f00;
  }
  70% {
    color: #ff0;
  }
  80% {
    color: #0f0;
  }
  90% {
    color: #0ff;
  }
  100% {
    color: #00f;
  }
}

.fade {
  transition: color 2s;
  color: #f00;
}

.rainbow-text:hover {
  animation: none;
  animation-fill-mode: forwards;
  animation-name: fade;
}

.rainbow-text:hover .fade {
  color: #0f0;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  display: flex; /* thêm vào đây */
  flex-direction: column; /* và thêm vào đây */
}


.social-icons {
    display: flex;
    justify-content: center;
  margin-top: 30px;
  transform: translateX(5%);
}


.social-icons1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  transform: translateX(5%);
}

.social-icons3 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.social-icons3 a {
  display: inline-block;
  margin: 0px 10px;
  font-size: 2rem;
  color: #333;
  transition: all 0.3s ease-in-out;
}
.social-icons3 a:hover {
  color: #007bff;
  transform: scale(1.1);
}

.main_container{
 margin: 6% 0 0 38%;
 position: relative;
 width: 20%;
top: -10%;
left: -10%;
transform: translate(-50%, -50%);
} 

.image{
display: block;
width: 250%;
height: auto;
}

.overlay{
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(0, 0, 0, 0.75);
overflow: hidden;
width: 200%;
height: 0;
transition: .5s ease;
}

.main_container:hover .overlay{
height: 100%;
}

.card{
 position: relative;
 left: -6%;
 width: 150px;
 height: 200px;
  transition: 0.3s ease-out;
box-shadow: 0 3px 15px rgba(0, 0, 0 ,0.7);
}

.card .imgbox{
 position: relative;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

.card .imgbox img{
 position: relative;
  top: 0;
 left: 0;
 width: 100%;
 height: 80%;
 display: block;
 transition: 0.5s;
}

.card .content{
 position: absolute;
 left: 0;
 bottom: 0;
  width: 100%;
 height: 60px;
 padding: 12px;
 background: #d71249;
  transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
 box-sizing: border-box;
 overflow: hidden;
}
.card:hover .content {
 width: 100%;
 height: 100%;
 left: 0;
 bottom: 0;
}

.content p{
margin: 5px 0 0;
font-size: 1.3vw;
padding: 0.5em 0.5em;
transform: translateY(1em);
line-height: 1.3em;
transition: 0.3s;
text-align: justify;
opacity: 0;
}

.card:hover .content p{
transform: translateY(0);
opacity: 1;
}

.h2{
text-align: center;
}

.card:hover{
box.shadow: 0 0 5em rgba(0, 0, 0 ,0.4);
}