* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(https://media.discordapp.net/attachments/1012011940219986001/1097579733765603338/202302.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.typewriter h3 {
  color: black;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(30, end),
    blink-caret .75s step-end infinite;
}

/* Animation */
@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: orange;
  }
}

.rainbow-text {
  font-size: 36px;
  font-weight: bold;
  animation: rainbow 10s linear infinite;
}

@keyframes rainbow {
  0% {
    color: #f00;
  }
  10% {
    color: #ff0;
  }
  20% {
    color: #0f0;
  }
  30% {
    color: #0ff;
  }
  40% {
    color: #00f;
  }
  50% {
    color: #f0f;
  }
  60% {
    color: #f00;
  }
  70% {
    color: #ff0;
  }
  80% {
    color: #0f0;
  }
  90% {
    color: #0ff;
  }
  100% {
    color: #00f;
  }
}

.fade {
  transition: color 2s;
  color: #f00;
}

.rainbow-text:hover {
  animation: none;
  animation-fill-mode: forwards;
  animation-name: fade;
}

.rainbow-text:hover .fade {
  color: #0f0;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  display: flex; /* thêm vào đây */
  flex-direction: column; /* và thêm vào đây */
}


 #animation  {
        background-image: url("ciclo-animacao.png");
        width: 58px;
        height: 87px;
        -webkit-animation: ciclo-animacao 1.0s steps(8) infinite;
        animation: ciclo-animacao 1.0s steps(8) infinite;
      }

      @-webkit-keyframes ciclo-animacao {
        from { background-position: 0px; }
        to { background-position: -464px; }
      }

      @Keyframes ciclo-animacao {
        from { background-position: 0px; }
        to { background-position: -464px; }
      }

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.social-icons a {
  display: inline-block;
  margin: 0px 10px;
  font-size: 2rem;
  color: #333;
  transition: all 0.3s ease-in-out;
}
.social-icons a:hover {
  color: #007bff;
  transform: scale(1.1);
}

.social-icons1 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.social-icons1 a {
  display: inline-block;
  margin: 0px 10px;
  font-size: 2rem;
  color: #333;
  transition: all 0.3s ease-in-out;
}
.social-icons1 a:hover {
  color: #007bff;
  transform: scale(1.1);
}

.social-icons3 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.social-icons3 a {
  display: inline-block;
  margin: 0px 10px;
  font-size: 2rem;
  color: #333;
  transition: all 0.3s ease-in-out;
}
.social-icons3 a:hover {
  color: #007bff;
  transform: scale(1.1);
}

#animation1  {
        background-image: url("ciclo-animacao.png");
        transform: scaleX(-1);
        width: 58px;
        height: 87px;
        -webkit-animation: ciclo-animacao 1.0s steps(8) infinite;
        animation: ciclo-animacao 1.0s steps(8) infinite;
      }

      @-webkit-keyframes ciclo-animacao {
        from { background-position: 0px; }
        to { background-position: -464px; }
      }

      @Keyframes ciclo-animacao {
        from { background-position: 0px; }
        to { background-position: -464px; }
      }

.table {
  border-collapse: collapse;
}

.td {
  padding: 10px;
}

.table1 {
  border-collapse: collapse;
}

.td1 {
  padding: 5px;
}

.main_container{
 margin: 6% 0 0 38%;
 position: relative;
 width: 20%;
top: -21%;
left: -21%;
transform: translate(-50%, -50%);
} 

.image{
display: block;
width: 250%;
height: auto;
}

.overlay{
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(0, 0, 0, 0.75);
overflow: hidden;
width: 200%;
height: 0;
transition: .5s ease;
}

.main_container:hover .overlay{
height: 100%;
}

h1{
width: 100%;
margin-top: 30%;
color: white;
font-size: 1.2vw;
position: absolute;
text-align: center;
font-family:  'Roboto', sans-serif;
transform: rotate(-5deg) skewX(-5deg);
}

h2{
text-align: center;
font-family: 'Roboto', sans-serif;
color: white;
font-size: 0.8vw;
margin: 20% 0 0 5%; 
width: 100%;
letter-spacing: 2px;
line-height: 2em;
}
h3{
text-align: center;
font-family: 'Roboto', sans-serif;
color: white;
font-size: 0.8vw;
margin: 20% 0 0 5%; 
width: 100%;
letter-spacing: 1px;
line-height: 1em;
}

.text{
display: flex;
color: white;
  justify-content: center;
  align-items:  center;
  height: 5vh;
  max-width: 12vw;
}